body{
    background-color: #eaeaea;
    font-family: 'Roboto', sans-serif;

}
.contenedor{
    display: flex;
    justify-content: space;
    align-items: center;
}
.contenedor-2{
    display: flex;
    justify-content: space;
    align-items: center;
    padding-top: 10px;
}
h1{
    width: 100%;
    color: black;
    text-align: center;

}
#title{
    width: 100%;
    margin: auto;
    padding-top: 0;
    margin-top: 0;
    background-color: white;

}
.logo-html{
    width: 15%;
    padding-left: 15px;
}
.text-up{
    width: 70%;
}
.circles{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
#feed{
    width: 400px;
    height: 625px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}
.photo{
    width: 400px;
    height: 400px;
}
.part-1{
    display: inline-block;
}

.text{
    padding: 10px;
    padding-top: 0px;
    text-align: justify;
}
.text2{
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: justify;
    font-size: small;
}
.icon{
    padding-right: 10px;
    padding-left: 10px;
}
.save{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}